*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100vh;
    font-weight: 100;
    font-size: 1rem;
}

/*==========Navbar-section=========*/

.navbar{
    height: 80px;
    display: flex;
    gap: 10%;
    background-color: rgb(255, 255, 255);
}
.logo{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 1000;
    padding-left: 220px;
    font-size: 1.4rem;
}
.nav ul{
    list-style: none;
    display: flex;
}
.nav{
    width: 40%;
    color: rgb(105, 105, 105);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7%;
}
li{
    margin-left: 30px;
    margin-right: 30px;
}
li:hover{
    cursor: pointer;
}
.btn{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 100px;
}
button{
    height: 45px;
    width: 100px;
    border-radius: 5px;
    border: none;
    background-color: rgb(210, 233, 246);
    color: rgb(2, 160, 245);
    font-weight: 600;
}
button{
    cursor: pointer;
}

/*====================Hero-section=================*/

.container{
    height: 88vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7%;
    padding-bottom: 100px;
}
.left{
    width: 40%;
    height: 60vh;
    padding: 50px 50px;
    font-size: 1.5rem;
    margin-left: 13%;
}
.head-2{
    margin-top: 10px;
    color: rgb(2, 160, 245);
}
p{
    font-size: 1.2rem;
    color: rgb(151, 150, 150);
    margin-top: 20px;
}
.btn-2{
    width: 200px;
    margin-top: 30px;
    height: 50px;
    background-color: rgb(2, 160, 245);
    color: white;
    border: none;
    border-radius: 15px;
}
.btn-2:hover{
    cursor: pointer;
}
.right{
    width: 30%;
    margin-right: 9%;
}
img{
    padding-bottom: 30px;
    padding-right: 20px;
}
